  
.page-transition-enter-active,
.page-transition-leave-active {
  transition: opacity .1s;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.page-transition-enter,
.page-transition-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}

.layout-transition-enter-active,
.layout-transition-leave-active {
  transition: opacity .1s;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.layout-transition-enter,
.layout-transition-leave-active {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}